.choice {
  min-height: 900px;
  padding: 60px 0 136px 0;
  background: linear-gradient(to bottom, #070716 56%, transparent 56%),
    url('../img/bg/second_bg.png') no-repeat center bottom;
  background-size: cover;

  &__label {
    height: 24px;
    width: 112px;
    background-color: #ffffff;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #070716;
  }

  &__title {
    margin-top: 24px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
  }

  &__img {
    display: block;
    margin: 0 auto;
    margin-top: 54px;
  }

  &__descr {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    color: #222;
  }
}
