@import url('./fonts.css');

* {
  font-family: 'Roboto', sans-serif;
}

main {
  padding-top: 52px;
}

/* Header */
header {
  position: relative;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 52px;
  background-color: #212121;
  z-index: 1000;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
  margin: 0;
  list-style: none;
}

.menu .menu-item {
  position: relative;
  padding: 14px 28px;
}

.menu .menu-item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 50%;
  border-right: 2px dotted black;
}

.menu .menu-item .menu-link {
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
}

.menu .menu-item .menu-link:hover {
  text-decoration: underline;
}

.subheader {
  margin-top: 52px;
  position: absolute;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

.subheader .subheader-logo {
  display: block;
  margin-top: 8px;
  max-width: 100%;
}

.subheader .subheader-official {
  margin-top: 8px;
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
  opacity: 0.5;
}

.subheader .subheader-call {
  margin-top: 16px;
  font-size: 12px;
  font-weight: 300;
  text-align: right;
  color: #ffffff;
}

.subheader .subheader-call .subheader-phone {
  display: block;
  font-size: 22px;
  font-weight: 400;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
}

.subheader .subheader-call .subheader-phone:hover {
  text-decoration: underline;
}

.subheader .subheader-btn {
  margin-top: 20px;
  border-radius: 4px;
  width: 172px;
  height: 44px;
  background: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
  border: none;
  outline: none;
  transition: box-shadow 0.1s ease, transform 0.1s ease;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.21);
}

.subheader .subheader-btn:active {
  box-shadow: 0 0 0 3px rgba(58, 182, 218, 0.6);
  transform: translateY(2px);
}

/* promo section */
.promo {
  padding: 152px 0;
  min-height: 800px;
  background: url('../img/bg/main_bg.jpg') center center/cover no-repeat;
}

.promo .promo-header {
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.promo .promo-subheader {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.promo .promo-text {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 400;
  line-height: 133%;
  text-align: center;
  color: #ffffff;
}

.promo .promo-btn {
  display: block;
  margin: 0 auto;
  margin-top: 116px;
  border-radius: 4px;
  width: 260px;
  height: 64px;
  background: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
  border: none;
  outline: none;
  transition: box-shadow 0.1s ease, transform 0.1s ease;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.21);
}

.promo .promo-btn:active {
  box-shadow: 0 0 0 3px rgba(58, 182, 218, 0.6);
  transform: translateY(2px);
}

/* reasons section */
.reasons {
  min-height: 848px;
  padding: 16px 0 64px 0;
  background-color: #ffffff;
}

.reasons .reasons-header {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 112px;
  height: 24px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
}

.reasons .reasons-subheader {
  margin-top: 32px;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #222222;
}

.reasons .reason {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  min-height: 200px;
}

.reasons .reason .reason-icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 116px;
  height: 116px;
  background-color: #1eacc7;
  border-radius: 100%;
}

.reasons .reason .reason-text {
  width: 372px;
}

.reasons .reason .reason-text .reason-title {
  font-size: 20px;
  font-weight: 400;
  color: #1eacc7;
}

.reasons .reason .reason-text .reason-descr {
  font-size: 16px;
  font-weight: 300;
  line-height: 140%;
  color: #202020;
}
